* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1920px;
}

/*Mouse Scroll gif*/

.mouse-position {
    margin: 0 auto;
    max-width: 100%;
}

.scroll-downs {
    margin: 0 auto;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 32px;
    border: 2px solid #54cc54;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #54cc54;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 0.1;
    }

    11% {
        transform: translateY(0);
        opacity: 0.2;
    }
    12% {
        transform: translateY(0);
        opacity: 0.3;
    }
    12% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

/* navegação */

.clear {
    clear: both;
}

.container-navegacao {
    max-width: 1520px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

header {
    padding: 20px;
}

.logo {
    float: left;
    padding: 10px 0;

}

.menu-desktop {
    padding: 20px 30px;
}

nav.menu-desktop {
    float: right;
}

nav.menu-desktop ul {
    position: relative;
}


nav.menu-desktop li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

nav.menu-desktop a {
    color: #424242;
    text-decoration: none;
}

/* banner */

.container-banner {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}


.banner img {
    max-width: 55%;
    float: left;
    

}


.cta {
    float: right;
    max-width: 44%;
    padding: 5% 4% 0 5%;

}


.cta h1 {
    font-weight: 300;
    color: #54cc54;
    font-size: 5vw;
    padding: 20px 0px;
    line-height: 120%;

}

.cta p {
    font-weight: 300;
    color: #424242;
    font-size: 2vw;
    line-height: 160%;
    margin-top: 10px
}

.botao-inicial [type=button] {
    margin: 0 auto;
    padding: 15px;
    border-radius: 40px;
    border: 0;
    background-color: #54cc54;
    color: #ffffff;
<<<<<<< HEAD
    min-width: 350px;
    font-size: 26pt;
=======
    width: 70%;
    font-size: 2vw;
>>>>>>> 6b78d2cac6a58a39094a08d030f268b1a76a3d93
    font-weight: 100;
    margin: 50px 0 0 0;
}

/*Meio do Site com icones*/

.container-meio {
    padding: 110px 0 0 0;
}

.artigo {
    margin: 0 auto;
    display: block;
}

.titulo-meio h1 {
    margin: 0 auto;
    font-weight: 100;
    max-width: 100%;
    padding: 0px 50px;
    display: block;
    color: #0098ff;
    font-size: 3.5vw;
    text-align: center;
}

.box-icones {
    margin: 0 auto;
    max-width: 80%;
    padding: 3% 0 0 0;
}

.icone img {
    padding: 20px 0;
    display: block;
    margin: 0 auto;
}

.icone-texto {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 3% 5%;
    color: #424242;
    vertical-align: middle;

}

.icone-texto h2 {
    padding: 10px;
    display: inline-block;
    font-size: 30px;

}

.icone-texto p {
    font-size: 1.5vw;
    font-weight: 100;
    line-height: 160%;

}

.box-icones-final {
    padding: 0 0 0 1000px;
    display: block;
}

/*imagem pc*/

.cta-experimente {
    float: left;
    padding: 5% 5% 0;
    width: 40%;
    position: absolute;

}

.experimente {
<<<<<<< HEAD
    padding: 150px 0px 0 0;
=======
    padding: 10% 0;
>>>>>>> 6b78d2cac6a58a39094a08d030f268b1a76a3d93
}

.cta-experimente h1 {
    color: #ffffff;
    font-weight: 100;
<<<<<<< HEAD
    font-size: 55px;
    padding: 30px 0;
    min-width: 300px
=======
    font-size: 5vw;
    padding: 10% 0 5% 0;

>>>>>>> 6b78d2cac6a58a39094a08d030f268b1a76a3d93
}

.cta-experimente p {
    color: #ffffff;
    font-weight: 100;
<<<<<<< HEAD
    font-size: 27px;
    line-height: 49px;
    min-width: 500px
=======
    font-size: 1.5vw;
    line-height: 170%;

>>>>>>> 6b78d2cac6a58a39094a08d030f268b1a76a3d93
}

.botao-experimente [type=button] {
    margin: 0 auto;
    padding: 4%;
    border-radius: 40px;
    border: 0;
    background-color: #ffffff;
    color: #0098ff;
    width: 80%;
    min-width: 70%;
    font-size: 2vw;
    font-weight: 100;
    margin: 8% 0 0 0;
}


.imagem-pc img {
    max-width: 100%;
    display: block;
    float: right;
}

.centro {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    margin-top: -50px
}


div .botoes-1 {
    padding: 1px 10px;
    margin: 10px;
    background-color: #54cc54;
    display: inline;
    border-radius: 30px;
}

div .botoes-2,
.botoes-3 {
    padding: 1px 10px;
    margin: 10px;
    border: 0.5px solid #54cc54;
    display: inline;
    border-radius: 30px;
}

/*opinião*/

.opiniao {
    padding: 200px 0 0 0;
}

.box-opiniao h1 {
    margin: 0 auto;
    font-weight: 100;
    max-width: 100%;
    padding: 50px 50px;
    display: block;
    color: #0098ff;
    font-size: 35pt;
    text-align: center;
}

.box-carossel {
    margin: 0 auto;
    max-width: 45%;

}

.avatar img {
    vertical-align: middle;
    float: left;
    display: inline-block;
}


.opiniao-diego {
    vertical-align: middle;
    max-width: 60%;
    display: inline-block;
    line-height: 35px;
    font-weight: 100;
    color: #424242;
    float: right;
    font-size: 25px;
    padding: 50px 0 0 0
}

.opiniao-diego h2 {
    font-size: 22px;
    padding: 20px 0
}

i {
    color: #63e063;
    font-size: 50px;
    vertical-align: middle;
    padding: 0 20px;

}

*/
/*Media screen*/

@media (max-width:650px) {
    .icone-texto {
        width: 100%;
        padding: 50px 20px
    }
    
    .titulo-meio h1{
        font-size: 7vw;
    }
}
