* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1920px;
}

/* navegação */

.clear {
    clear: both;
}

.container-navegacao {
    max-width: 1520px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

header {
    padding: 20px;
}

.logo {
    float: left;
    padding: 10px 0;

}

.menu-desktop {
    padding: 20px 30px;
}

nav.menu-desktop {
    float: right;
}

nav.menu-desktop ul {
    position: relative;
}


nav.menu-desktop li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

nav.menu-desktop a {
    color: #424242;
    text-decoration: none;
}

/* banner */

.container-banner {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}


.banner {
    width: 59%;
    max-width: 100%;
    height: 1050px;
    float: left;
    background-repeat: no-repeat;
    background-image: url(/Projeto-1/Projeto1-DankiCode/images/banner.png);
    background-position: left;

}

.cta {
    margin: 0 auto;
    width: 460px;
    position: relative;
    float: right;
    max-width: 100%;
    margin: 180px 140px 0px 0px;
}


.chamada h1 {
    font-weight: 300;
    color: #54cc54;
    font-size: 50pt;
    padding: 20px 0px;
    line-height: 83px;

}

.chamada p {
    font-weight: 300;
    color: #424242;
    font-size: 20pt;
    line-height: 43px;
    margin-top: 10px
}

.botao-inicial [type=button] {
    margin: 0 auto;
    padding: 15px;
    border-radius: 40px;
    border: 0;
    background-color: #54cc54;
    color: #ffffff;
    width: 70%;
    font-size: 26pt;
    font-weight: 100;
    margin: 50px 0 0 0;
}

/*Meio do Site com icones*/

.container-meio {
    padding: 100px 0 0 0;
}

.artigo {
    margin: 0 auto;
    display: block;
}

.artigo h1 {
    margin: 0 auto;
    font-weight: 100;
    width: 100%;
    max-width: 100%;
    display: block;
    color: #0098ff;
    font-size: 35pt;
    text-align: center;
}

.box-icones {
    margin: 0 auto;
    max-width: 1500px;
    padding: 50px 0 0 0;
}

.icone img {
    padding: 20px 0;
    display: block;
    margin: 0 auto;
}

.icone-texto {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 56px 90px;
    color: #424242;
}

.icone-texto h2 {
    padding: 10px;
    font-size: 30px;
}

.icone-texto p {
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}

.box-icones-final {
    padding: 0 0 0 1000px;
    display: block;
}

/*imagem pc*/

.imagem-pc {
    width: 100%;
    height: 920px;
    background-repeat: no-repeat;
    background-image: url(/Projeto-1/Projeto1-DankiCode/images/experimente.png);
}
